/*@import "~semantic-ui-css/semantic.min.css";*/
/*@import "~semantic-ui-css/themes/default/assets/fonts/";*/

html, body {
    width: 100%;
    height: 100vh;
}

.pusher {
    margin-right: 150px;

    overflow: auto;
}

.tr-action:hover {
    cursor: pointer;
    font-weight: bold;
}